<div class="container">
    <h2 class="section-title">Our customer’s review</h2>
    <div class="grid-3-column">
        <div class="customer-review-card">
            <p class="customer-review-text">
                “Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi.”
            </p>
            <div class="customer-review-ranking">
                {% render "review-stars" %}
            </div>
            <h5>Emma Chamberlin</h5>
        </div>
        <div class="customer-review-card">
            <p class="customer-review-text">
                “Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi.”
            </p>
            <div class="customer-review-ranking">
                {% render "review-stars" %}
            </div>
            <h5>Thomas John</h5>
        </div>
        <div class="customer-review-card">
            <p class="customer-review-text">
                “Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi.”
            </p>
            <div class="customer-review-ranking">
                {% render "review-stars" %}
            </div>
            <h5>Kevin Bryan</h5>
        </div>
    </div>
</div>






{%  schema  %}  
    {
        "name": "Customer Review",
        "tag": "section",
        "class": "page-section section-vertical-spacing"
    }
{% endschema %}