<div class="container">
    <div class="grid-2-column-collection">
        <div>
            <div class="collection-filters">
                {% render "filter", collection: collection %}
            </div>
        </div>
        <div>
            {% render 'collection-pagination', collection: collection %}
        </div>
    </div>
</div>

{%  schema  %}  
    {
        "name": "Page Header",
        "tag": "section",
        "class": "page-section section-vertical-spacing"
    }
{% endschema %}