<div class="top-info main-section">
	<div class="container">
		<div class="top-info-container">
			<ul class="top-info-information">
				<li class="top-info-text">
					&#9993; example@gmail.com
				</li>
				<li class="top-info-text">
					
				</li>
			</ul>
		</div>
	</div>
</div>
<nav class="">
	navbar
</nav>