<div class="container">
    <div class="grid-2-column">
        <div></div>
        <div></div>
    </div>
</div>





{%  schema  %}  
    {
        "name": "Offers",
        "tag": "section",
        "class": "page-section section-vertical-spacing",
        "enabled_on": {
            "templates": ["index"]
        }
    }
{% endschema %}