<div class="container">
    <h2 class="heading-align-center">Our Categories</h2>
</div>




{%  schema  %}  
    {
        "name": "Our Categories Section",
        "tag": "section",
        "class": "page-section section-vertical-spacing",
        "enabled_on": {
            "templates": ["index"]
        }
    }
{% endschema %}