<div class="container">
    <h2 class="section-title">Our Categories</h2>
    <div class="grid-4-column">
        {% for collection in collections %}
            {% if collection.title == "Best Selling" %}
                {% continue %}
            {% endif %}
            {% render "card-select-collection", collection: collection %}
        {% endfor %}
    </div>
</div>




{%  schema  %}  
    {
        "name": "Our Categories Section",
        "tag": "section",
        "class": "page-section section-vertical-spacing",
        "enabled_on": {
            "templates": ["index"]
        }
    }
{% endschema %}