* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.12rem;           
    word-spacing: 0.16rem; 
}

ul, ol {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*Typography*/
h1 {
    font: var(--font-desktop-h1);
    font-weight: 800;
}

h2 {
    font: var(--font-desktop-h2);
    font-weight: 700;
}

h3 {
    font: var(--font-desktop-h3);
    font-weight: 700;
}

h5 {
    font: var(--font-text-md);
    font-weight: 700;
}

p, a, li, button {
    font: var(--font-text-md);
}

/*Global*/
.page-section {
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

@media (max-width: 590px) {
    .page-section {
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .page-section {
        padding: 0 15px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
}

.btn {
    padding: 10px 32px;
}

.cover-image {
    object-fit: cover;
    border-radius: var(--border-radius);
 }

.section-vertical-spacing {
    margin: var(--space-120) 0;
}

.section-title {
    text-align: center;
    margin-bottom: var(--space-32);
}

.text-grey {
    color: var(--color-text-grey)
}

.main-border-radius {
    border-radius: var(--border-radius);
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid-2-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
}

.grid-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
}

.grid-4-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

@media (max-width: 1040px) {
    .grid-3-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--grid-gap);
    }
}

@media (max-width: 900px) {
    .grid-4-column {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-column {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 718px) {
    .grid-3-column {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 520px) {
    .grid-4-column {
        grid-template-columns: repeat(1, 1fr);
    }

}


/*Top Info*/
.top-info {
    background-color: var(--color-black);
}

.top-info-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.top-info-information {
    display: flex;
    gap: 40px;
    color: var(--color-white);
}

.top-info-text {
    color: var(--color-stroke);
}

/*Navbar*/

.logo {
    order: 1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    border-bottom: 1px solid var(--color-stroke);
    position: relative;
    font-weight: bold;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-link-list {
    display: flex;
    justify-content: center;
    gap: var(--space-24);
    order: 2;
    flex-grow: 1;
}

.navbar-icon-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    order: 3;
    flex-grow: 1;
}

.js-navbar-burger-menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    order: 2;
}

.burger-menu-line {
    background-color: var(--color-black);
    width: 26px;
    height: 3px;
    border-radius: 2px;
}

.js-navbar-dropdown {
    background-color: var(--color-white);
    position: absolute;
    width: 100%;
    top: calc(100% + 1px);
    left: 0;
    height: 0;
    transition: height var(--transition-basic);
    overflow: hidden;
    z-index: 1;
}

.navbar-dropdown-container {
    border-bottom: 1px solid var(--color-border);
    padding: 0 40px;
}

.navbar-dropdown-list {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 720px) {
    .navbar-link-list,
    .navbar-icon-links-container {
        display: none;
    }

    .js-navbar-burger-menu {
        display: flex;
    }
}

/*Home Hero*/

.home-hero {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.home-overlay-info {
    position: absolute;
    left: 80px;
    bottom: 120px;
    color: var(--color-white);
}

.home-offer-overlay-info {
    position: absolute;
    left: 60px;
    bottom: 60px;
    color: var(--color-white);
    padding-right: 10px;
}

.home-hero-text {
    margin: 12px 0 36px 0;
}


@media (max-width: 1120px) {
    .home-offer-overlay-info {
        left: 40px;
        bottom: 40px;
    }
}

@media (max-width: 990px) {
    .home-offer-overlay-info {
        left: 20px;
        bottom: 20px;
    }

    .home-hero-text {
        margin: 12px 0 18px 0;
    }
    
}

.home-hero-btn-style {
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    border-radius: var(--border-radius);
}



/*Home Our Categories*/

.our-categories-title-spacing {
    margin: 12px 0 3px 0;
}

.product-card-image-container {
    background-color: #F6F6F6;
    width: 100%;
    height: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.best-selling-cta {
    display: flex;
    justify-content: center;
    margin-top: var(--space-32);
}

.home-best-selling-btn-style {
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 500;
    border-radius: var(--border-radius);
}

.home-offer-container {
    position: relative;
    min-height: 340px;
}

.customer-review-ranking {
    margin: 30px 0 12px 0;
}

.customer-review-card {
    box-shadow: var(--shadow);
    padding: 30px;
    border-radius: var(--border-radius);
}

.review-star {
    fill: #F4890A;
    stroke: #F4890A;
}